/*  */

:root {
  --grey: #dbe1e3ee;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.button {
  background-color: #2837c1;
  color: white;
  padding: 0.5rem 2rem;
  width: 8vw;
  border-radius: 1rem;
  text-decoration: none;
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
  font-size: 5vh;
}
h3 {
  font-size: 3.5vh;
}
p {
  font-size: 2.5vh;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 10vh;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 2.5px solid rgb(40, 55, 193);
}
.logo {
  text-decoration: none;
  font-size: 5vh;
}
.logo span:nth-child(1) {
  color: black;
  font-weight: 900;
}
.logo span:nth-child(2) {
  color: #008b6d;
  font-weight: 900;
}
.logo span:nth-child(3) {
  color: #008b6d;
  font-weight: 900;
}
.logo span:nth-child(4) {
  color: black;
  font-weight: 900;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
}
nav li a {
  font-size: 2.5vh;
  padding: 0 10px;
  color: #268b97;
  text-decoration: none;
}
nav li a:hover {
  color: #2837c1;
  text-decoration: underline;
}

/* Home */
#home {
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#home img {
  width: 20%;
  margin: 50px;
  border-radius: 100%;
}

#home section {
  margin: 50px;
}
#home span:first-of-type {
  background-color: black;
  color: white;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
}

.animation {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}

.animation span {
  font-size: 40px;
}

.message {
  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 350px;
  }
  30% {
    top: 0.2rem;
    width: 300px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
  }
  48% {
    top: -4.5rem;
    width: 300px;
  }
  62% {
    top: -4.5rem;
    width: 300px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 300px;
  }
  95% {
    top: -9rem;
    width: 300px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

@media screen and (max-width: 480px) {
  #home {
    flex-direction: column;
    height: 100vh;
  }
}

/* About */
#about {
  background-color: #fff;
  margin: 0 2rem;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills_icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills_icons img {
  width: 15vh;
}

#about p {
  font-size: 3vh;
  width: 75%;
  line-height: 2rem;
  padding: 2rem 3rem;
}

#about section {
  margin: 4rem 0 0 0;
  width: 100%;
}
@media screen and (max-width: 480px) {
  #about {
    height: auto;
  }
  .skills_icons {
    flex-wrap: wrap;
    padding: 0;
  }
}

/* Work */
#work {
  height: 250vh;
  padding: 2rem;
  text-align: center;
}
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.grid_item img {
  width: 80%;
}
.grid_item video {
  width: 80%;
  height: 20%;
}
.grid_item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 25vw;
  height: 90vh;
  margin: 1rem;
  background-color: var(--grey);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.grid_item .button_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.grid_item .button_links a {
  background-color: #008b6d;
  color: white;
  margin: 0 1rem;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  width: 75px;
}
.grid_item .button_links a:hover {
  opacity: 0.5;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (max-width: 480px) {
  #work {
    height: auto;
  }
  .grid_item {
    width: 50vw;
    height: 90vh;
    margin: 1rem;
  }
}

/* Contact */
#contact {
  height: 25vh;
  background-color: #268b97;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logo_link {
  text-decoration: none;
}
.logo_link img {
  width: 2rem;
  margin: 0 1rem;
}
